{% extends 'layout.html' %} 
{% block content %}
<div class="container h-100 vertical-center">
  <div class="article">
    <h3>{{ objects }}</h3>
  </div>
    <!-- <div class="row h-100 justify-content-center align-items-center">
    <div class="dropdown">
      
      <button
        class="btn btn-danger dropdown-toggle btn-lg"
        type="button"
        id="dropdownMenuButton"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Topic
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="{ url_for('about', my_var='ecommerce') }">Ecommerce</a>
        <a class="dropdown-item" href="{ url_for('about', my_var='education') }">Education </a>
        <a class="dropdown-item" href="{ url_for('about', my_var='healthcare') }">Healthcare</a>
      </div>
    </div>
  </div> -->
  <br/>
  
</div>

{% endblock %}
